// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.scss

$primary   : #6b8e23;
$secondary : #4E5C11;
$accent    : #db681f;

$dark      : #1d1d1d;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #db2714;
$info      : #4084db;
$warning   : #e8ca20;
